<!-- Hero -->
<section class="hero d-flex align-items-center justify-content-center text-center text-white position-relative"
  style="height: 100vh;">
  <video class="hero-bg-video  h-auto" autoplay loop muted playsinline
    style="object-fit: cover; left: 0; top: 0; z-index: 0;">
    <source src="assets/Download.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="position-absolute w-100" style="z-index: 1;" data-aos="fade-up">
    <h1 class="display-3 font-weight-bold"></h1>
    <p class="lead font-weight-bolder sporty-text text-white" style="height: 65vh;">Volkswagen Golf MK7.5R | Stage 2 Build</p>
  </div>
</section>

<!-- Section: Story -->
<section class=" bg-dark text-white container my-5 py-5 position-relative" style="inset: 0;" data-aos="fade-up">
  <h2 class="mb-3">Background</h2>
  <p class="text-white-50 ">
    Inspired by the precision and design philosophy of Porsche, my Golf MK7.5R project is built with the same focus —
    performance, balance, and pure driving emotion.
  </p>
</section>

<!-- Section: Gallery -->
<!-- <section class="gallery bg-dark text-white py-5" data-aos="fade-up">
  <div class="container text-center">
    <h2 class="mb-4">Gallery</h2>
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let img of carImages">
        <img [src]="img" class="img-fluid rounded shadow-lg" alt="Car Image">
      </div>
    </div>
  </div>
</section> -->

<!-- Section: Specs -->
<section class="container my-3 pt-2 card shadow" data-aos="fade-up">
  <h2 class="mb-4">Performance Specs</h2>
  <ul class="list-unstyled lead">
    <li><strong>Engine:</strong> 2.0L TSI</li>
    <li><strong></strong>ECU: Probation E Stage 2</li>
    <li><strong></strong>TCU: TVS Engineering Stage 1</li>
    <li><strong>Power:</strong> 440 HP</li>
    <li><strong>Torque:</strong> 560 Nm</li>
    <!-- IGNORE -->

    <li><strong>0-100 km/h:</strong> 3.2 seconds</li>
    <li><strong>Brakes:</strong> Original R brake</li>
    <li><strong>Exhaust:</strong> Innotech Performance Exhaust (iPE)</li>
  </ul>
</section>

<!-- Footer -->
<footer class="text-center py-4 bg-black text-white">
  <p class="mb-0">© 2025 My Car Showcase | Inspired by Porsche Design</p>
</footer>
